.popup-image__infos {
 display: flex;
 flex-direction: column;
 gap: 10px;
 position: absolute;
 top: 20px;
 right: -435px;
}
@media screen  and (max-width: 1248px) {
    .popup-image__infos {
        top: 480px;
        right: -90px;
    }
}
@media screen and (max-width: 950px) {
    .popup-image__infos {
        top: 390px;
        right: -90px;
    }
}
@media screen and (max-width: 656px) {
    .popup-image__infos {
        top: 250px;
        right: -70px;
    }
}
@media screen and (max-width: 558px) {
    .popup-image__infos {
        top: 250px;
        right: -140px;
    }
}
@media screen  and (max-width: 484px) {
    .popup-image__infos {
        top: 250px;
        right: -100px;
    }
}
