.popup-image__photo {
    width: 95%;
    height: 95%;
    display: block;
}
@media screen and (max-width: 1580px) {
    .popup-image__photo {
        width: 85%;
        height: 60%;
    }
}