.elements__telegram {
    margin-left: 5px;
    width: 100px;
    font-size: 12px;
    line-height: 40px;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    line-height: 15px;
    font-weight: 550;
    border-radius: 15px;
    cursor: pointer;
}
.elements__telegram:hover {
    border: none;
}